.detailsPage {
  text-align: center;
  margin-top: 5px;
  position: relative;
  padding-bottom: 6px;
}

#detailsInfo {
  display: inline-block;
  margin-top: 1%;
  background: rgba(0, 0, 0, 0.703);
  width: 60%;
  height: 60%;
  border: 1px solid white;
  border-radius: 20px;
  margin-bottom: 5%;
}

#detailsInfo h1 {
  font-size: 36px;
  color: white;
  letter-spacing: 2px;
}

#detailsInfo h2 {
  font-size: 26px;
  color: white;
  margin-top: 30px;
}

#detailsInfo h3 {
  font-size: 20px;
  width: 70%;
  color: white;
  display: inline-block;
}

.info img {
  height: 70%;
  width: 70%;
  position: relative;
}

.create-comment > .form > textarea {
  resize: none;
  width: 300px;
  height: 100px;
  margin-top: 22px;
  margin-bottom: 28px;
  padding: 5px;
}

.label {
  color: white;
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  line-height: normal;
}

.details-comments li {
  width: 50%;
  font-size: 20px;
  display: inline-block;
  position: static;
  margin: 20px auto 25px auto;
  border-radius: 16px;
  background: black;
  color: white;
}

.comment p {
  padding: 10px;
}
